<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MsCrmTools.CurrencyExchangeRates.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MsCrmTools.CurrencyExchangeRates.Properties.Settings>
            <setting name="MsCrmTools_CurrencyExchangeRates_currencyconvertor_CurrencyConvertor"
                serializeAs="String">
                <value>http://www.webservicex.net/currencyconvertor.asmx</value>
            </setting>
        </MsCrmTools.CurrencyExchangeRates.Properties.Settings>
    </applicationSettings>
</configuration>